
.space {
    position: absolute;
    top:8vh;
    height: 92vh;
    width: 100%;
}
.rocket {
    position: absolute;
    top: 0;
    left: 0;
    height: 92vh;
    width: 100%;
    background: url(/assets/spaceship.svg) no-repeat center;
}

.rocket path {
    fill: white;

}

.tresA {
    width: auto;
    position: absolute;
    bottom: 0;
    right: 1%;
}

.tresA > img {
    float: right;
    width: 70%;
}

.status {
    text-align: center;
}

.status > h3 {
    padding-top: 2%;
    text-shadow: 0px 0px 20px #FFF;
    font-size: 24px;
    z-index: 9999;
}

.img-planet {
    border: 1px solid black;
    position: absolute;
    z-index: -1;
}